[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
pandas = "*"
numpy = "~=1.17"
selenium = "*"
django-bootstrap4 = "*"
chromedriver-binary = "==78.0.3904.70.0"
lxml = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"

[requires]
python_version = "3.8"

[scripts]
server          = "python manage.py runserver"
makemigrations  = "python manage.py makemigrations"
migrate         = "python manage.py migrate"
createsuperuser = "python manage.py createsuperuser"
shell           = "python manage.py shell"
