{% extends "scheduler/base.html" %}
{% block title %}scheduler{% endblock title %}
{% block content %}
<form method="POST" action="scheduler" class="all">
  {% csrf_token %}
  <div class="form-group">
    <div class="mx-auto" style="width: 200px;">
    <label>ID
      <input type="text" size="20" class="form-control" name="id" placeholder="Your id">
    </label>
    <br>
    <label>PASSWORD
      <input type="text" size="20" class="form-control" name="pswd" placeholder="Your password">
    </label>
    <br>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
    </div>
  </div>
  <div>
    <p>Acquired Data</p>
    <p>{{ Spring }}</p>
    <p>{{ Autumn }}</p>
  </div>
  <table class="schedule">
    <tr><th></th><th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th></tr>
    <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </table>
</form>
{% endblock %}
