body {
    width: auto;
    text-align: center;
    font: 15px sans-serif;
}

.login_form {
	position: relative;
	width: auto;
	margin: 40px 3%;
}
.login_form input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 25%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

.table1 {
border: 1px solid gray;
}
.table1 th, .table1 td {
border: 1px solid gray;
}
